<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <!-- Bootstrap links -->
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap-5.0.2-dist/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='vendor/bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js') }}"></script>

    {% block styles %}
    {% endblock styles %}
</head>
<body class="bg-light">

<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
    <div class="container">
        <span class="nav-brand fs-5 fw-bold">Wedding Planner</span>
        <div class="ms-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('customer.index') }}">Home</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('chat.index') }}">Chats</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('todo.index') }}">Todo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('customer.view_booking') }}">Bookings</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Notification
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for notification in current_user.get_notifications() %}
                                <li class="mb-2 border-bottom"><a class="dropdown-item" href="#">{{ notification.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                    </li>
                    <li class="nav-item ms-3">
                        <a class="btn btn-outline-primary" href="{{ url_for('auth.register') }}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% include "flash-message.html" %}

{% block content %}
{% endblock %}

{% block modal %}

{% endblock %}

<script src="{{ url_for('static', filename='vendor/jquery/jquery-3.7.1.min.js') }}"></script>
{% block js %}
{% endblock %}
</body>
</html>